/.env
/*.env
!/example.env
/.vscode
*.log
/.venv
.pytest_cache
codeship.aes
codeship.env
__pycache__
*.pyc
*.code-workspace
.DS_Store
.bash_history
/.python-version
*/.ipynb_checkpoints
*/device_collections/*/
!*/device_collections

